<p id="notice"><%= notice %></p>

<h1>Video Channels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @video_channels.each do |video_channel| %>
      <tr>
        <td><%= video_channel.name %></td>
        <td><%= video_channel.description %></td>
        <td><%= link_to 'Show', video_channel %></td>
        <td><%= link_to 'Edit', edit_video_channel_path(video_channel) %></td>
        <td><%= link_to 'Destroy', video_channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video Channel', new_video_channel_path %>
